canvas {
    display: inline;
    margin: 0 auto;
}

div {
    display: inline-block;
}

h1 {
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Noto Sans', sans-serif !important;
}
tbody > tr > td{
  width: 2em;
  height: 2em;
  text-align: center;
}
tbody:nth-child(2){
  width: 2em;
  height: 2em;
  text-align: left;
}
thead th{
  width: auto;
  padding: 5px;
}
#menu{
    display: flex;
    padding: 0;
    margin-left: 0;

}
canvas{
    margin: 0 0;
}
.box{
    width: 1.2em;
    height: 1.2em;
}
.char{
    margin-left: 2px;
    padding: 5px;
    order: 2;
    border: rgb(200,200,200) solid 2px ;
}
.char >  Form > input{
    display: none;
}
.char > Form > div {
  margin-right: 1rem;
}

.char > Form > label{
    display: inline-block;
    margin-right: 0.1rem;
    width: 15px;
    height: 15px;
    border: gray solid 2px;
    border-radius: 50%;
}
.char > Form > input:checked + label{
  width: 7px;
  height: 7px;
  border: gray solid 7px;
  border-radius: 50%;
}

#clickSize{
  width: 100%;
}